#change{
    transform: rotate(180deg);
}
.enter {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 200ms ease-in-out, opacity 200ms ease-in-out;
    /* 애니메이션 전환 시 흔들림, 지연, 성능 문제 줄임 */
    will-change: transform, opacity;
}

.enter-active {
    max-height: 500px;
    opacity: 1;
}

.exit {
    max-height: 500px;
    opacity: 1;
    /* 애니메이션 전환 시 흔들림, 지연, 성능 문제 줄임 */
    will-change: transform, opacity;
}

.exit-active {
    max-height: 0;
    opacity: 0;
    transition: max-height 200ms ease-in-out, opacity 200ms ease-in-out;
}
@media(min-width:1024px){
#footer1-inte{
    background-color: #eeeeee;
    font-family: 'GmarketMedium';
    width: 62.7rem;
    margin: 0 auto;
}
#footer1-inte-body{
    width: 50rem;
    margin:0 auto;
    padding: 1rem 0;
}
#footer1-inte-container{
    padding: 1rem 0;
}
#footer1-inte-container hr{
    border: 1.2px solid black;
    margin-top: 0.3rem;
    margin-bottom: 1.5rem;
    width: 49rem;
}

#footer1-inte-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2rem;
    padding: 0 0.5rem;
    cursor: pointer;
}
#footer1-inte-title p {
    font-family: 'GmarketBold';
    font-size: 1.7rem;
}
#footer1-inte-title img {
    height: 1.2rem;
    width: 1.3rem;
}
#footer1-inte-text p{
    margin: 0.2rem 0;
    font-size: 1rem;
}

#padding-left-one{
    padding-left: 0.8rem;
}
#padding-left-two{
    padding-left: 1.7rem;
}

#footer2-inte{
    font-family: 'GmarketMedium';
    color: #2b2b2b;
    font-size: 1.45rem;
    width: 62.7rem;
    margin: 0 auto;
}
#footer2-inte-body{
    width: 45rem;
    margin: 0 auto;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#footer2-inte-container p{
    margin: 0;

}
#call-number{
    font-family: 'GmarketBold';
    font-size: 2.4rem;
    padding-top: 0.3rem;
    padding-bottom: 1.3rem;
}
#footer2-inte-box{
    background-color: #030d52;
    padding: 1rem 2.5rem;
    cursor: pointer;
}
#footer2-inte-box-text1{
    color: white;
}
#footer2-inte-box-text2{
    font-family: 'GmarketBold';
    color:#37fe9f;
    font-size: 2.3rem;
}


#footer3-inte{
    font-family: 'GmarketMedium';
    font-size: 0.6rem;
    background-color: #343530;
    width: 62.7rem;
    margin: 0 auto;
}
#footer3-inte{
    font-family: 'GmarketMedium';
    font-size: 0.7rem;
    background-color: #343530;
}
.footer3-inte-text{
    color: #ffffff;
}

#footer3-inte-body{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 48rem;
    height: 6rem;
}
.footer3-inte-img img{
    width: 13rem;
    height: 3rem;
}
.footer3-inte-text li{
    list-style: none;
}
.footer3-inte-text li p{
    margin: 1px;
}
}
@media(max-width:1024px){
#footer1-inte{
    background-color: #eeeeee;
    font-family: 'GmarketMedium';
    width: 95.8vw;
    margin: 0 auto;
}
#footer1-inte-body{
    width: 80vw;
    margin:0 auto;
    padding: 2vw 0;
}
#footer1-inte-container{
    padding: 2vw 0;
}
#footer1-inte-container hr{
    border: 0.1vw solid black;
    margin-top: 0.5vw;
    margin-bottom: 2vw;
    width: 80vw;
}

#footer1-inte-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4vw;
    padding: 0 1vw;
    cursor: pointer;
}
#footer1-inte-title p {
    font-family: 'GmarketBold';
    font-size: 4vw;
}
#footer1-inte-title img {
    height: 2.8vw;
    width: 3vw;
}
#footer1-inte-text ul{
    padding-left: 1vw;
}
#footer1-inte-text ul li{ 
    font-size:2vw;
}
#footer1-inte-text ul li p{ 
    font-size:3vw;
    margin: 0.2vw -2vw 0.2vw 0;

}


#footer3-inte{
    font-family: 'GmarketMedium';
    font-size: 1.1vw;
    background-color: #585858;
    width: 95.8vw;
    height: 25vw;
    margin: 0 auto;
    padding: 2vw 0;
}
.footer3-inte-text{
    color: #ffffff;
    text-align: center;
    font-size: 2vw;
}

#footer3-inte-body{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    height: 12vw;
}
.footer3-inte-img img{
    width: 35vw;
    height: 7vw;
    padding: 2vw 0;
}
.footer3-inte-text li{
    list-style: none;
}
.footer3-inte-text li p{
    margin: 0.2vw;
}

}
