@media (min-width: 1024px){
#main-micro-body{
    width: 100%;
    background-color: #efefef;
}
#main-micro-product{
    margin: 0 auto;
    width: 50rem;
    padding-bottom: 4rem;
}
.main-micro-title{
    margin: 0 auto;
    text-align: center;
    background-color: #efefef;
    position: relative;
    top: 2.6rem;
    width: 60%;
    border-radius: 1.8rem;
    padding: 6px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.main-micro-text{
    background-color: white;
    border-radius: 4rem;
    padding: 5.5rem 4rem 2.5rem 4rem;

}
.main-micro-maintitle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'GmarketBold';
    font-size: 2.1rem;
    color: #021a2e;
}
.main-micro-text-title {
    display: flex;
    align-items: center;
    padding: 0.5rem 0rem;
    
}
.main-micro-text-title hr{
    flex-grow: 1;
    border: none;
    border-top: 1.2px solid #2e4b80
}
.main-micro-text-title span{
    font-family: 'GmarketBold';
   padding-right: 1.5rem;
   color: #34438b;
   font-size: 1rem;
}
.main-micro-text-detail{
    font-family: 'GmarketMedium';
    font-size: 0.8rem;
}
.main-micro-text-detail p{
    margin: 0;
}
.main-micro-text-detail ul{
    padding-left: 0px;
    list-style-type: disc;
    font-size: 0.5rem;
}
.main-micro-text-detail li p{
    font-size: 0.8rem;
    margin: 2px;
}
.target-micro{
    background-color: #434342;
    color: #ffffff;
    padding: 2px 2px 2px 2px;
    display: inline-block;
    width: 5.5rem;
    margin: 1px;
}
.main-micro-text-info{
    color: #5e5e5e;
    text-align: right;
    margin-top: 2rem;
}
.main-micro-text-info p{
    margin: 0px;
    font-size: 0.8rem;
}

.none-list-p{
    font-family: 'GmarketMedium';
    font-size: 0.8rem;
    margin: 0;
}

}
@media (max-width: 1024px){
#main-micro-body{
    width: 100%;
    background-color: #efefef;
}
#main-micro-product{
    margin: 0 auto;
    width: 71vw;
    padding-bottom: 7vw;
}
.main-micro-title{
    margin: 0 auto;
    text-align: center;
    background-color: #efefef;
    position: relative;
    top: 4.8vw;
    width: 60%;
    border-radius: 3vw;
    padding: 1.5vw;

}
.main-micro-text{
    background-color: white;
    border-radius: 6vw;
    padding: 8vw 6vw 4vw 6vw;

}
.main-micro-maintitle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'GmarketBold';
    font-size: 3.3vw;
    color: #021a2e;
}
.main-micro-text-title {
    display: flex;
    align-items: center;
    padding: 0;
    
}
.main-micro-text-title hr{
    flex-grow: 1;
    border: none;
    border-top: 1.2px solid #2e4b80;
}
.main-micro-text-title span{
  font-family: 'GmarketBold';
  padding-right: 2vw;
  color: #34438b;
   font-size: 1.5vw;
   margin-top: 1vw;
   margin-bottom: 0.2vw;
}
.main-micro-text-detail{
    font-family: 'GmarketMedium';
}
.main-micro-text-detail p{
    margin: 0;
}
.main-micro-text-detail ul{
    padding-left: 0px;
    list-style-type: disc;
    font-size: 0.7vw;
    margin-right: -4vw;
}
.main-micro-text-detail li p{
    font-size: 1.3vw;
    margin: 0.1vw;
}
.target-micro{
    background-color: #434342;
    color: #ffffff;
    padding: 0.2vw 0.2vw 0.2vw 0.2vw;
    display: inline-block;
    width: 6.5vw;
    margin: 0.1vw;
}
.main-micro-text-info{
    color: #5e5e5e;
    text-align: right;
    margin-top: 3.5vw;
}
.main-micro-text-info p{
    margin: 0px;
    font-size: 1.22vw;
}

.none-list-p{
    font-family: 'GmarketMedium';
    font-size: 1.3vw !important;
    margin: 0;
}
}
