@media (min-width: 1024px){

#main-guarantee-body{
    width: 100%;
    background-color: #efefef;
}
#main-guarantee-product{
    margin: 0 auto;
    width: 50rem;
    padding-bottom: 4rem;
}
.main-guarantee-title{
    margin: 0 auto;
    text-align: center;
    background-color: #efefef;
    position: relative;
    top: 2.6rem;
    width: 60%;
    border-radius: 1.8rem;
    padding: 6px;
    padding-bottom: 8px;
}
.main-guarantee-text{
    background-color: white;
    border-radius: 4rem;
    padding: 5.5rem 4rem 2.5rem 4rem;
}
.main-guarantee-subtitle{
    font-family: 'GmarketMedium';
    font-size: 1rem;
    margin-bottom: 10px;
    color: #535353;
}
.main-guarantee-maintitle{
    font-family: 'GmarketBold';
    font-size: 2rem;
    color: #021a2e;
}
.main-guarantee-text-title {
    display: flex;
    align-items: center;
    padding: 0.5rem 0rem;
    margin-top: 0.4rem;
}
.main-guarantee-text-title hr{
    flex-grow: 1;
    border: none;
    border-top: 1.2px solid #2e4b80
}
.main-guarantee-text-title span{
    font-family: 'GmarketBold';
   padding-right: 1.5rem;
   color: #34438b;
   font-size: 1rem;
}
.main-guarantee-text-detail{
    font-family: 'GmarketMedium';
    font-size: 0.8rem;
}
.main-guarantee-text-detail ul{
    padding-left: 0px;
    list-style-type: disc;
    font-size: 0.5rem;
}
.main-guarantee-text-detail li p{
    font-size: 0.8rem;
    margin: 3px;
}
.target{
    background-color: #434342;
    color: #ffffff;
    padding: 2px 2px 2px 2px;
    display: inline-block;
    width: 4rem;
    margin: 1px;
}
.main-guarantee-text-info{
    color: #5e5e5e;
    text-align: right;
    margin-top: 2rem;
}
.main-guarantee-text-info p{
    margin: 0px;
    font-size: 0.8rem;
}

.none-list-p{
    font-family: 'GmarketMedium';
    font-size: 0.8rem;
    margin: 0;
}

#indent-gua{
    padding-left: 4.3rem;
}
.indent-one{
    padding-left: 1rem;
   }
}
@media (max-width: 1024px){

#main-guarantee-body{
    width: 100%;
    background-color: #efefef;
}
#main-guarantee-product{
    margin: 0 auto;
    width: 90vw;
    padding-top: 2vw;
    padding-bottom: 8vw;
}
.main-guarantee-title{
    margin: 0 auto;
    text-align: center;
    background-color: #efefef;
    position: relative;
    top: 4.8vw;
    width: 65%;
    border-radius: 5vw;
    padding: 1vw;
    margin-bottom: -2vw;
}
.main-guarantee-text{
    background-color: white;
    border-radius: 6vw;
    padding: 12vw 6vw 4vw 6vw;
}
.main-guarantee-subtitle{
    font-family: 'GmarketMedium';
    font-size: 2.7vw;
    margin-bottom: 0.5vw;
    color: #535353;
}
.main-guarantee-maintitle{
    font-family: 'GmarketBold';
    font-size: 4vw;
    color: #021a2e;
}
.main-guarantee-text-title {
    display: flex;
    align-items: center;
    padding: 0;
    margin-top: 1.2vw;
}
.main-guarantee-text-title hr{
    flex-grow: 1;
    border: none;
    border-top: 0.1vw solid #2e4b80
}
.main-guarantee-text-title span{
    font-family: 'GmarketBold';
   padding-right: 2vw;
   color: #34438b;
   font-size: 3vw;
   margin-top: 1vw;
   margin-bottom: 0.2vw;
}
.main-guarantee-text-detail{
    font-family: 'GmarketMedium';
}
.main-guarantee-text-detail ul{
    padding-left: 0px;
    list-style-type: disc;
    font-size: 0.5vw;
}
.main-guarantee-text-detail li p{
    font-size: 2vw;
    margin: 0.1vw;
}
.target{
    background-color: #434342;
    color: #ffffff;
    padding: 0.2vw 0.2vw 0.2vw 0.2vw;
    display: inline-block;
    width: 10vw;
    margin: 0.1vw;
}
.main-guarantee-text-info{
    color: #5e5e5e;
    text-align: right;
    margin-top: 3.5vw;
}
.main-guarantee-text-info p{
    margin: 0px;
    font-size: 1.5vw;
}

.none-list-p{
    font-family: 'GmarketMedium';
    font-size: 2vw;
    margin: 0;
}
.indent-one{
 padding-left: 2.5vw;
}
#indent-gua{
    padding-left: 10.5vw;
}
}