#main-credit-body{
    width: 100%;
    background-color: #efefef;
}
#main-credit-product{
    margin: 0 auto;
    width: 50rem;
    padding-bottom: 4rem;
}
.main-credit-title{
    margin: 0 auto;
    text-align: center;
    background-color: #efefef;
    position: relative;
    top: 2.6rem;
    width: 60%;
    border-radius: 1.8rem;
    padding: 6px;
    padding-bottom: 8px;
}
.main-credit-text{
    background-color: white;
    border-radius: 4rem;
    padding: 5.5rem 4rem 2.5rem 4rem;
}
.main-credit-subtitle{
    font-family: 'GmarketMedium';
    font-size: 1rem;
    margin-bottom: 10px;
    color: #535353;
}
.main-credit-maintitle{
    font-family: 'GmarketBold';
    font-size: 2rem;
    color: #34438b;
}
.main-credit-text-title {
    display: flex;
    align-items: center;
    padding: 0.5rem 0rem;
    
}
.main-credit-text-title hr{
    flex-grow: 1;
    border: none;
    border-top: 1.2px solid #2e4b80
}
.main-credit-text-title span{
    font-family: 'GmarketBold';
   padding-right: 1.5rem;
   color: #34438b;
   font-size: 1rem;
}
.main-credit-text-detail{
    font-family: 'GmarketMedium';
    font-size: 0.8rem;
}
.main-credit-text-detail ul{
    padding-left: 0px;
    list-style-type: disc;
    font-size: 0.5rem;
}
.main-credit-text-detail li p{
    font-size: 0.8rem;
    margin: 2px;
}
.target-credit{
    background-color: #434342;
    color: #ffffff;
    padding: 2px 2px 2px 2px;
    display: inline-block;
    width: 5.5rem;
    margin: 1px;
}
.main-credit-text-info{
    color: #5e5e5e;
    text-align: right;
    margin-top: 2rem;
}
.main-credit-text-info p{
    margin: 0px;
    font-size: 0.8rem;
}

.none-list-p{
    font-family: 'GmarketMedium';
    font-size: 0.8rem;
    margin: 0;
}

#indent-plus{
    padding-left: 6rem;
}
#biglone-table{
    padding-left: 6rem;
}
#biglone-table tr td{
    background-color: #ededed;
    padding: 0.6rem 0.7rem;
    text-align: center;
}

.orange-color{
    color: #ef7338;
  }
  