.main-micro-transition-enter {
  opacity: 0;
  overflow: hidden;
  /* 애니메이션 전환 시 흔들림, 지연, 성능 문제 줄임 */
  will-change: transform, opacity;
}
.main-micro-transition-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}


.main-micro-transition-exit {
  opacity: 1;
  transform: translateY(0);
  /* 애니메이션 전환 시 흔들림, 지연, 성능 문제 줄임 */
  will-change: transform, opacity;
}
.main-micro-transition-exit-active {
  opacity: 0;
  transform: translateY(-1px);
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}



/* 기존 css */
/* .main-micro-transition-enter {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    will-change: transform, opacity;
  }
  .main-micro-transition-enter-active {
    max-height: 100rem; 
    opacity: 1;
    overflow: hidden;
    transition: max-height 300ms ease-in-out, opacity 300ms ease-in-out;
  }

  .main-micro-transition-exit {
    max-height: 100rem;
    opacity: 1;
    overflow: hidden;

    will-change: transform, opacity;
  }
  .main-micro-transition-exit-active {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 300ms ease-in-out, opacity 300ms ease-in-out;
  } */