@media (min-width: 1024px){
#quick-menu-body{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 10%;
    right: 10%;
    z-index: 100; /* 다른 요소 위에 유지 */
}
#quick-delete-button{
    background-color: #575756;
    width: 1.3rem;
    height: 1.3rem;
    cursor: pointer;
}
#quick-delete-button p{
    margin: 0px;
    text-align: center;
    line-height: 1.3rem;
    font-family: 'GmarketMedium';
    color: #ffffff;
    font-size: 1.3rem;
}
#quick-menu-list{
    text-align: center;
    width: 6rem;
}

#quick-menu-list img{
    width: 2rem;
    height: 2rem;
    padding-bottom: 0.3rem;
}
#quick-menu-sb-pf img{
    width: 2.7rem;
    height: 2.8rem;
}
#quick-menu-product{
    background-color: #021a2e;
    border-radius: 0.4rem;
    color: #f3f3f4;
    font-family: 'GmarketMedium';
    font-size: 0.7rem;
    padding: 0.4rem 0;
}
#quick-menu-list p{
 margin: 0;
}
#quick-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #021a2e;
    border-radius: 0.4rem;
    cursor: pointer;
    height: 5.2rem;
    font-family: 'GmarketBold';
    font-size: 1.1rem;
    margin-bottom: 1px;
}
#quick-menu-sb-total{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #0000ff;
    border-radius: 0.4rem;
    cursor: pointer;
    height: 5.2rem;
    font-family: 'GmarketBold';
    font-size: 1.1rem;
}
#quick-menu-sb-pf{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0000ff;
    color: #ffffff;
    border-radius: 0.4rem;
    cursor: pointer;
    height: 8.5rem;
    font-family: 'GmarketBold';
    font-size: 1.1rem;
}
#color-yellow{
    color: #ffff00;
}
}
@media (max-width: 1024px){
#quick-menu-body{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 8%;
    right: 5%;
    z-index: 100; /* 다른 요소 위에 유지 */
}
#quick-delete-button{
    background-color: #575756;
    width: 2vw;
    height: 2vw;
    cursor: pointer;
}
#quick-delete-button p{
    margin: 0px;
    text-align: center;
    line-height: 1.5vw;
    font-family: 'GmarketMedium';
    color: #ffffff;
    font-size: 2.2vw;
}
#quick-menu-list{
    text-align: center;
    width: 10vw;
}

#quick-menu-list img{
    width: 3vw;
    height: 3vw;
    padding-bottom: 0.5vw;
}
#quick-menu-sb-pf img{
    width: 5vw;
    height: 5vw;
}
#quick-menu-product{
    background-color: #021a2e;
    border-radius: 0.5vw;
    color: #f3f3f4;
    font-family: 'GmarketMedium';
    font-size: 1.2vw;
    padding: 0.5vw 0;
}
#quick-menu-list p{
    margin: 0;
}
#quick-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #021a2e;
    border-radius: 0.5vw;
    cursor: pointer;
    height: 9vw;
    font-family: 'GmarketBold';
    font-size: 1.9vw;
    margin-bottom: 0.1vw;
}
#quick-menu-sb-total{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #0000ff;
    border-radius: 0.5vw;
    cursor: pointer;
    height: 9vw;
    font-family: 'GmarketBold';
    font-size: 1.9vw;
    margin-bottom: 0.1vw;
}
#quick-menu-sb-pf{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0000ff;
    color: #ffffff;
    border-radius: 0.5vw;
    cursor: pointer;
    height: 15vw;
    font-family: 'GmarketBold';
    font-size: 1.9vw;
}
#color-yellow{
    color: #ffff00;
}
}