#quick-menu-body{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 10%;
    right: 10%;
}
#quick-delete-button{
    background-color: #575756;
    width: 1.3rem;
    height: 1.3rem;
    margin-top: 0.5rem;
}
#quick-delete-button p{
    margin: 0px;
    text-align: center;
    line-height: 1.3rem;
    font-family: 'GmarketMedium';
    color: #ffffff;
    font-size: 0.9rem;
}
#quick-menu-list{
    text-align: center;
    width: 7rem;
}

#quick-menu-list p{
    margin: 0;
    font-family: "GmarketBold";
    font-size: 0.9rem;
}

#quick-menu-list img{
    width: 2.3rem;
    height: 2rem;
    padding-top: 1rem;
    padding-bottom: 0.3rem;
}
#quick-menu-product{
    background-color: #575756;
    border-radius: 0.5rem 0.5rem 1.5rem 1.5rem;
    color: #fbd44e;
    padding-bottom: 0.5rem;
    position: relative;
    z-index: 2;
}
#quick-icon{
    font-family: 'GmarketMedium';
    color: #ffffff;
    font-size: 0.9rem;
}
#quick-menu-credit{
    background-color: #ffffff;
    color: #4a4a48;
    border-end-end-radius: 0.5rem;
    border-end-start-radius: 0.5rem;
    padding-bottom: 0.8rem;
    margin-top: -2rem;
    padding-top: 2rem;
    border-radius: 0.5rem;
    z-index: 1;
}
#quick-menu-micro{
    background-color: #ffffff;
    color: #4a4a48;
    border-radius: 0.5rem;
    padding-bottom: 0.8rem;
}
#quick-menu-sb-total{
    background-color: #ff7900;
    color: #ffffff;
    border-radius: 0.5rem;
    padding-bottom: 0.8rem;
}
#quick-menu-sb-pf{
    background-color: #005f9a;
    color: #ffffff;
    border-radius: 0.5rem;
    padding-bottom: 0.8rem;
}
#quick-line-gray{
    margin-top: 0;
    margin-bottom: 0;
    width: 5rem;
    background: gray;
}
#quick-line-white{
    margin-top: 0;
    margin-bottom: 0;
    width: 6rem;
    background: #ffffff;
}