@media(min-width: 1024px){

#top-integrate-body{
    margin: 0 auto;
    /* background-image: url('/src/img/원스톱배경포함.png'); 
    height: 46vw;
    width: 100%;
    background-color: #040d51; */
    background-image: url('/src/img/원스톱배경.png');
    height: 66rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}
#top-integrate-container{
    display: flex;
    flex-direction: column; 
    align-items: center;
    height: 90%;
    width: 50rem;
    margin: 0 auto;
}
#top-integrate-subtitle img{
    margin-top: 11.3rem;
    width: 49rem;
}
#top-integrate-title img{
    margin-top: 1rem;
    width: 49rem;
}
#top-integrate-text{
    text-align: center;
    color: white;
    font-family: "GmarketMedium";
    font-size: 1.8rem;
}
#top-integrate-text span{
    font-size: 1.8rem;
    font-family: "GmarketBold";
}
.color-blue{
    color: #25eaf9;
}
#top-integrate-shortcut img{
    margin-top: 1.8rem;
    width: 30rem;
    cursor: pointer;
}

#top-integrate-product-list{
    width: 54rem;
    display: flex;
    justify-content: space-around;
    margin-top: 4.9rem;
}

.top-integrate-text{
    background-image: url('/src/img/상품상자.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 15rem;
    height: 11.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.top-integrate-text-top{
    display: flex;
    justify-content: space-between;
    padding-left: 0.4rem;
    padding-right: 0.2rem;
}
.top-integrate-text-subtitle{
    font-family: 'PretendardMedium';
    font-size: 0.9rem;
    color: #040d5f;
}
.top-integrate-text-title{
    font-family: 'GmarketBold';
    color: #040d5f;
    font-size: 1.9rem;
    margin-top: 0.25rem;
}
.top-integrate-text-top-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end

}
.top-integrate-text-button{
    font-family: 'GmarketBold';
    color: #040d5f;
    font-size: 0.8rem;
    padding-right: 0.3rem;
}
.top-integrate-text-img img{
    padding-top: 0.5rem;
    width: 3.5rem;
    height: 2.8rem;
}
.top-integrate-text-img2 img{
    padding-top: 0.5rem;
    width: 2.5rem;
    height: 3rem;
}
.top-integrate-text-bottom{
    margin-top: 0.2rem;
}
.top-integrate-text-bottom p{
    display: flex;
    margin: 0.2rem;
    color: #3c3c3b;
    font-family: 'PretendardtRegular';
    font-size: 0.9rem;
}
.top-integrate-text-bottom p img{
    margin-right: 0.1rem;
    width: 0.7rem;
}

#top-intergrate-detail {
    margin: 0 auto;
    background-color: #000000;
    bottom:  0px;
    left: 0;
    width: 62.7rem;
    height: 4rem;
    display: flex;
    align-items: center; 
    justify-content: center; 
    cursor: pointer;
  }
  #top-intergrate-detail p{
    display: flex;
    text-align: center;
    align-items: center;
    font-family: 'GmarketMedium';
    font-size: 1.8rem;
    color: #ffffff;
    margin: 0px;
  }
  #detail-integrate{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 50%;
    width: 2.4rem;
    height: 2.4rem;
    transform: rotate(180deg);
    margin-left: 0.5rem;
}
#detail-integrate-change{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 50%;
    width: 2.4rem;
    height: 2.4rem;
    transform: rotate(0deg);
    margin-left: 0.5rem;
  }
  #detail-integrate img{
    width: 1rem;
    height: 1rem;
  }
  #detail-integrate-change img{
    width: 1rem;
    height: 1rem;
  }
  
  #top-button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 5%;
    right: 2%;
    font-family: 'GmarketBold';
    background-color: #004b9d;
    color: #ffffff;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    text-align: center;
    font-size: 0.7rem;
    z-index: 100;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.226);
  }
  .color-green{
    color: #34fda2;
  }

  #top-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 5%;
    right: 2%;
    font-family: 'GmarketBold';
    background-color: #004b9d;
    color: #ffffff;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    text-align: center;
    font-size: 0.7rem;
    z-index: 100;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.226);
  }
  #top-button p {
    margin: 0;
  }
  #top-button-text{
     padding-bottom: 0.5rem;
  }
      
}
@media(max-width: 1024px){

#top-integrate-body{
    margin: 0 auto;
    background-image: url('/src/img/원스톱배경.png');
    width: 100%;
    height: 100vw;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /* background-color: #040d51; */

}
#top-integrate-container{
    display: flex;
    flex-direction: column; 
    align-items: center;
    height: 90%;
    width: 87vw;
    margin: 0 auto;
}
#top-integrate-subtitle img{
    margin-top: 17vw;
    width: 75vw;
}
#top-integrate-title img{
    margin-top: 1.2vw;
    width: 75vw;
}
#top-integrate-text{
    text-align: center;
    color: white;
    font-family: "GmarketMedium";
    font-size: 2.8vw;
}
#top-integrate-text span{
    font-size: 2.8vw;
    font-family: "GmarketBold";
}
.color-blue{
    color: #25eaf9;
}
#top-integrate-shortcut img{
    margin-top: 2.5vw;
    width: 48vw;
    cursor: pointer;
}

#top-integrate-product-list{
    width: 83vw;
    display: flex;
    justify-content: space-around;
    margin-top: 5vw;
}

.top-integrate-text{
    background-image: url('/src/img/상품상자.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 23vw;
    height: 18vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.5vw 1.5vw;
    cursor: pointer;
}
.top-integrate-text-top{
    display: flex;
    justify-content: space-between;
    padding-left: 0.8vw;
    padding-right: 0.4vw;
}
.top-integrate-text-subtitle{
    font-family: 'PretendardMedium';
    font-size: 1.4vw;
    color: #040d5f;
}
.top-integrate-text-title{
    font-family: 'GmarketBold';
    color: #040d5f;
    font-size: 2.8vw;
    margin-top: 0.4vw;
}
.top-integrate-text-top-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end

}
.top-integrate-text-button{
    font-family: 'GmarketBold';
    color: #040d5f;
    font-size: 1.8vw;
    padding-right: 0.6vw;
}
.top-integrate-text-img{
    width: 5.5vw;
    height: 4.5vw;
}
.top-integrate-text-img img{
    width: 5.5vw;
    height: 4.5vw;
}
.top-integrate-text-img2{
    width: 4vw;
    height: 5vw;
}
.top-integrate-text-img2 img{
    width: 4vw;
    height: 5vw;
}
.top-integrate-text-bottom{
    margin-top: 0.2rem;
}
.top-integrate-text-bottom p{
    display: flex;
    margin: 0.4vw;
    color: #3c3c3b;
    font-family: 'PretendardtRegular';
    font-size: 1.4vw;
}
.top-integrate-text-bottom p img{
    margin-right: 0.2vw;
    width: 1.4vw;
}

#top-intergrate-detail {
    margin: 0 auto;
    background-color: #000000;
    bottom:  0px;
    left: 0;
    width: 95vw;
    height: 6vw;
    display: flex;
    align-items: center; 
    justify-content: center; 
    cursor: pointer;
    margin-top: -1vw;
  }
  #top-intergrate-detail p{
    display: flex;
    text-align: center;
    align-items: center;
    font-family: 'GmarketMedium';
    font-size: 2.8vw;
    color: #ffffff;
    margin: 0px;
  }
  #detail-integrate{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 50%;
    width: 3.5vw !important;
    height: 3.5vw !important;
    transform: rotate(180deg);
    margin-left: 1vw !important;
}
#detail-integrate-change{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 50%;
    width: 3.5vw !important;
    height: 3.5vw !important;
    transform: rotate(0deg);
    margin-left: 1vw !important;
  }
  #detail-integrate img{
    width: 1.7vw;
    height: 1.7vw;
  }
  #detail-integrate-change img{
    width: 1.7vw;
    height: 1.7vw;
  }
  .color-green{
    color: #34fda2;
  }
  
  #top-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 5%;
    right: 2%;
    font-family: 'GmarketBold';
    background-color: #004b9d;
    color: #ffffff;
    border-radius: 50%;
    width: 8vw;
    height: 8vw;
    text-align: center;
    font-size: 1.7vw;
    z-index: 100;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.226);
  }
  #top-button p {
    margin: 0;
  }
  #top-button-text{
    padding-bottom: 1.5vw;
  }
      
}