@media(min-width: 1025px){

#top-integrate-body{
    margin: 0 auto;
    background-image: url('/src/img/원스톱배경.png');
    height: 66rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}
#top-integrate-container{
    display: flex;
    flex-direction: column; 
    align-items: center;
    height: 90%;
    width: 50rem;
    margin: 0 auto;
}
#top-integrate-subtitle img{
    margin-top: 11.3rem;
    width: 49rem;
}
#top-integrate-title img{
    margin-top: 1rem;
    width: 49rem;
}
#top-integrate-text{
    text-align: center;
    color: white;
    font-family: "GmarketMedium";
    font-size: 1.8rem;
    
}
#top-integrate-text span{
    font-size: 1.8rem;
    font-family: "GmarketBold";
}
.color-blue{
    color: #25eaf9;
}
#top-integrate-shortcut img{
    margin-top: 1.8rem;
    width: 30rem;
    cursor: pointer;
}

#top-integrate-product-list{
    width: 54rem;
    display: flex;
    justify-content: space-around;
    margin-top: 4.9rem;
}

.top-integrate-text{ 
    background-image: url('/src/img/상품상자.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 15rem;
    height: 11.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.top-integrate-text-top{
    display: flex;
    justify-content: space-between;
    padding-left: 0.4rem;
    padding-right: 0.2rem;
}
.top-integrate-text-subtitle{
    font-family: 'PretendardMedium';
    font-size: 0.9rem;
    color: #040d5f;
}
.top-integrate-text-title{
    font-family: 'GmarketBold';
    color: #040d5f;
    font-size: 1.9rem;
    margin-top: 0.25rem;
}
.top-integrate-text-top-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end

}
.top-integrate-text-button{
    font-family: 'GmarketBold';
    color: #040d5f;
    font-size: 0.8rem;
    padding-right: 0.3rem;
}
.top-integrate-text-img img{
    padding-top: 0.5rem;
    width: 3.5rem;
    height: 2.8rem;
}
.top-integrate-text-img2 img{
    padding-top: 0.5rem;
    width: 2.5rem;
    height: 3rem;
}
.top-integrate-text-bottom{
    margin-top: 0.2rem;
}
.top-integrate-text-bottom p{
    display: flex;
    margin: 0.2rem;
    color: #3c3c3b;
    font-family: 'PretendardtRegular';
    font-size: 0.9rem;
}
.top-integrate-text-bottom p img{
    margin-right: 0.1rem;
    width: 1rem;
}


#top-intergrate-detail {
    margin: 0 auto;
    background-color: #000000;
    bottom:  0px;
    left: 0;
    width: 62.7rem;
    height: 4rem;
    display: flex;
    align-items: center; 
    justify-content: center; 
    cursor: pointer;
  }
  #top-intergrate-detail p{
    display: flex;
    text-align: center;
    align-items: center;
    font-family: 'GmarketMedium';
    font-size: 1.8rem;
    color: #ffffff;
    margin: 0px;
  }
  #detail-integrate{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 50%;
    width: 2.4rem;
    height: 2.4rem;
    transform: rotate(180deg);
    margin-left: 0.5rem;
}
#detail-integrate-change{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 50%;
    width: 2.4rem;
    height: 2.4rem;
    transform: rotate(0deg);
    margin-left: 0.5rem;
  }
  #detail-integrate img{
    width: 1rem;
    height: 1rem;
  }
  #detail-integrate-change img{
    width: 1rem;
    height: 1rem;
  }
  
  .color-green{
    color: #34fda2;
  }

      
}
@media(max-width: 1024px){

#top-integrate-body{
    margin: 0 auto;
    /* background-image: url('/src/img/원스톱모바일배경.png');
    height: 245vw; */
    background-image: url('/src/img/원스톱모바일배경수정.png');
    height: 225vw;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /* background-color: #040d51; */

}
#top-integrate-container{
    display: flex;
    flex-direction: column; 
    align-items: center;
    height: 90%;
    width: 88vw;
    margin: 0 auto;
}
#top-integrate-subtitle img{
    margin-top: 9vw;
    width: 77vw;
}
#top-integrate-title img{
    margin-top: 1vw;
    width: 77vw;
    margin-bottom: 2vw;
}
#top-integrate-text{
    text-align: center;
    color: white;
    font-family: "GmarketMedium";
    font-size: 3.4vw;
}
#top-integrate-text p{
  margin: 0;
}

#top-integrate-text span{
    font-size: 3.4vw;
    font-family: "GmarketBold";
}
.color-blue{
    color: #25eaf9;
}
.color-green{
  color: #34fda2;
}
#top-integrate-shortcut {
  cursor: none;

}
#top-integrate-shortcut img{
    margin-top: 4vw;
    width: 68vw;
    cursor: pointer;
    margin-bottom: 2vw;
}

#top-integrate-product-list{
    width: 80vw;
    display: flex;
    justify-content: space-around;
    margin-top: 2vw;
    flex-direction: column;
}

.top-integrate-text{
    background-image: url('/src/img/상품상자모바일.png');
    width: 76vw;
    height: 33vw;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.5vw 1.5vw;
    cursor: pointer;
    margin-bottom: 2vw;
}
.top-integrate-text-subtitle{
  font-family: 'PretendardMedium';
  font-size: 3.7vw;
  color: #0f155c;
  margin-left: 5vw;
}
.top-integrate-text-bottom{
  display: flex;
  height: 25vw;
  padding-top: 1vw;
  margin-left: 4vw;
  justify-content: space-between;
  margin-right: 4vw;
}
.top-integrate-text-title{
  color: #0f155c;
  font-family: 'GmarketBold';
  font-size: 5.6vw;
  margin-bottom: 0.5vw;
  margin-left: 0.5vw;
}
.top-integrate-text-bottom-list{
  font-family: 'PretendardtRegular';
  font-size: 4vw;
  padding-left: 1vw;
}
.top-integrate-text-bottom-list p{
  margin: 1vw 0;
}
.top-integrate-text-bottom-right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top-integrate-bottom-img {
  display: flex;
  justify-content: flex-end;
  margin-right: 2vw;
}
.top-integrate-bottom-img img{
  width: 17vw;
  height: 14vw;
}
.top-integrate-bottom-img2 {
  display: flex;
  justify-content: flex-end;
  margin-right: 2vw;
}
.top-integrate-bottom-img2 img{
  width: 12.5vw;
  height: 16vw;
}
.top-integrate-bottom-enter img{
  width: 20vw;
  height: 4.5vw;
}

.top-integrate-text-bottom-list img{
  width: 3vw;
}

#top-integrate-inquiry{
  text-align: center;
  margin-top: 1vw;
}
#top-integrate-inquiry-img img{
  width: 14vw;
}
#top-integrate-inquiry-text{
  background-color: #ffffff;
  color: #0e1550;
  font-family: 'GmarketBold';
  font-size: 5vw;
  padding: 0.5vw 3vw;
  width: 40vw;
  margin: 2vw auto 2vw;
}
#top-integrate-inquiry-call{
  font-family: 'GmarketBold';
  color: #ffffff;
  font-size: 6vw;
}
#top-integrate-inquiry-call span{
  color: #7cfaa9;
}
#top-integrate-inquiry-time{
  font-family: 'GmarketMedium';
  color: #ffffff;
  font-size: 3vw;
  margin-top: 1vw;
}

      
}