#top-micro-body{
    background-image: url('/src/img/소상공인배경.png');
    width: 100%;
    height: 65rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #b7e2ee
  }
  
  #top-micro-container{
    display: flex;
    flex-direction: column; 
    text-align: center;
    height: 92.5%;
    width: 50rem;
    margin: 0 auto;
  }
  #top-micro-bank{
    font-family: 'GmarketBold';
    color: #4a4a4a;
    font-size: 3.2rem;
    padding-top: 7rem;
    padding-left: 0.5rem;
    padding-bottom: 1rem;
  }
  
  #top-micro-product{
    font-family: 'GmarketBold';
    line-height: 8rem;
    font-size: 7.5rem;
    padding-bottom: 0.5rem;
    background-color: black;
    background-clip: text;
    -webkit-background-clip: text; 
    -moz-background-clip: text;
    color: transparent;
    text-shadow: rgba(42, 55, 118, 0.868) 0px 2px 2px;

  }
  
  
  #top-micro-shortcut{
    background-color: #35438c;
    width: 24rem;
    height: 5rem;
    border-radius: 3rem;
    line-height: 5rem;
    text-align: center;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.836);
    margin: 0 auto;
  }
  #top-micro-shortcut-line{
    background-color: #ffffff;
    width: 24rem;
    border-radius: 3rem;
    border: 5px solid #ffffff;
    text-align: center;
    margin: 12.5rem auto 0;
  }
  
  
  #top-micro-shortcut-main{
    font-family: 'GmarketBold';
    font-size: 2rem;
    color: #ffd84e;
    cursor: pointer;
  }
  #top-micro-white{
    color: #ffffff
  }
  
  #top-micro-info{
    width: 50rem;
    display: flex;
    align-items: center;
    padding-left: 0px;
    margin-top: 3rem;
  }
  .micro-porduct{
    display: flex;
    padding-bottom: 0.5rem;
  }
  .micro-product-img img{
    width: 1.8rem;
    height: 2.6rem;
    padding-right: 0.5rem;
  }
  
  .micro-product-name{
    font-family: 'GmarketBold';
    color: #3f4f90;
    font-size: 1.3rem;
    text-align: left;
  }

  .top-micro-info-detail{
    font-family: 'GmarketBold';
    text-align: left;
  }
  .top-micro-info-detail p{
    margin: 0;
  }
  .top-micro-info-detail ul{
    margin: 0px;
    padding: 0px;
    margin-top: 0.2rem;
  }
  .top-micro-info-detail li{
    font-size: 0.5rem;
    color: #413d3b;
    margin-left: 0.8rem;
    margin-bottom: 0.3rem;
  }
  .top-micro-info-detail li p{
    font-size: 0.8rem;
  }
  .top-micro-info-detail li p span{
    color:#413d3b;
  }
  #top-micro-info-line img {
    height: 7rem;
    padding-left: 3.5rem;
    padding-right: 1rem;
  }
  
  #top-micro-detail {
    display: flex;  
    align-items: center; 
    justify-content: center;
    background-color: #fbd44e;
    bottom:  0px;
    left: 0;
    width: 100%;
    height: 5rem;
    margin-top: auto;
    cursor: pointer;

  }
  #top-micro-detail p{
    display: flex;
    text-align: center;
    align-items: center;
    font-family: 'GmarketMedium';
    font-size: 1.9rem;
    color: #35438c;
    margin: 0px;
  }
  #loanproduct{
    font-family: 'GmarketBold';
    margin-right: 0.5rem;
  }
  #detail{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #b3e7ed;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.8rem;
    /* 각도 조정 CSS*/
    transform: rotate(0deg);
    margin-left: 0.5rem;
  }
  #detail-change{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2rem;
    background-color: #b3e7ed;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.8rem;
    /* 각도 조정 CSS*/
    transform: rotate(180deg);
    margin-left: 0.5rem;
  }

  #top-button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 5%;
    right: 2%;
    font-family: 'GmarketBold';
    background-color: #232c4a;
    color: #ffffff;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    text-align: center;
    font-size: 0.7rem;
  }
  

  