#top-product-body{
    margin: 0 auto;
    background-image: url('/src/img/원스톱모바일상세배경.png');
    width: 100%;
    height: 84.5vw;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#top-product-container{
    margin: 0 auto;
    width: 70%;
    color: #ffffff;
}
#top-product-subtitle{
    font-family: 'PretendardMedium';
    font-size: 5vw;
    padding-top: 13vw;
    padding-bottom: 1vw;
    margin-right: -15vw;

}
#top-product-subtitle-online{
    font-family: 'PretendardMedium';
    font-size: 5vw;
    padding-top: 7vw;
    padding-bottom: 1vw;
    margin-right: -6vw;

}

#top-product-title{
    color: #7cfaa8;
    font-family: 'GmarketBold';
    font-size: 7.8vw;
    padding-bottom: 2vw;
}
#top-product-list{
    display: flex;
    flex-direction: column;
    font-family: 'PretendardMedium';
    font-size: 5.5vw;
}
#top-product-list img{
    width: 4vw;
}
#top-product-list p{
    margin: 0;
    padding: 1vw 0;
}
#top-product-shortcut{
    margin: 0 auto;
    width: 70vw;
    padding-top: 5vw;
}

#top-product-shortcut img{
    margin: 0 auto;
    width: 70vw;
}

#top-prev-button{
    position: fixed;
    top: 3%;
    left: 5%;
    z-index: 100;
    font-size: 6vw;
    color: #7cfaa8;
}

